[Unit]
Description=Alternative private front-end to Reddit
After=network.service

[Service]
ExecStart=/usr/bin/libreddit
User=libreddit
Group=libreddit

[Install]
WantedBy=default.target
