[Unit]
Description=Alternative private front-end to Reddit
After=network.service

[Service]
EnvironmentFile=/etc/libreddit.env
ExecStart=/usr/bin/libreddit -a $ADDRESS -p $PORT
User=libreddit
Group=libreddit

[Install]
WantedBy=default.target
